# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/#use-with-ide
.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/
images_smooth/image1.png
images_smooth/image2.png
ros/dev_ws/devel/_setup_util.py
ros/dev_ws/devel/.built_by
ros/dev_ws/devel/.catkin
ros/dev_ws/devel/.rosinstall
ros/dev_ws/devel/cmake.lock
ros/dev_ws/devel/env.sh
ros/dev_ws/devel/local_setup.bash
ros/dev_ws/devel/local_setup.sh
ros/dev_ws/devel/local_setup.zsh
ros/dev_ws/devel/setup.bash
ros/dev_ws/devel/setup.sh
ros/dev_ws/devel/setup.zsh
ros/dev_ws/devel/include/panther_msgs/DriverState.h
ros/dev_ws/devel/include/panther_msgs/FaultFlag.h
ros/dev_ws/devel/include/panther_msgs/IOState.h
ros/dev_ws/devel/include/panther_msgs/LEDAnimation.h
ros/dev_ws/devel/include/panther_msgs/LEDAnimationQueue.h
ros/dev_ws/devel/include/panther_msgs/LEDImageAnimation.h
ros/dev_ws/devel/include/panther_msgs/MotorControllerState.h
ros/dev_ws/devel/include/panther_msgs/MotorState.h
ros/dev_ws/devel/include/panther_msgs/RuntimeError.h
ros/dev_ws/devel/include/panther_msgs/ScriptFlag.h
ros/dev_ws/devel/include/panther_msgs/SetLEDAnimation.h
ros/dev_ws/devel/include/panther_msgs/SetLEDAnimationRequest.h
ros/dev_ws/devel/include/panther_msgs/SetLEDAnimationResponse.h
ros/dev_ws/devel/include/panther_msgs/SetLEDBrightness.h
ros/dev_ws/devel/include/panther_msgs/SetLEDBrightnessRequest.h
ros/dev_ws/devel/include/panther_msgs/SetLEDBrightnessResponse.h
ros/dev_ws/devel/include/panther_msgs/SetLEDImageAnimation.h
ros/dev_ws/devel/include/panther_msgs/SetLEDImageAnimationRequest.h
ros/dev_ws/devel/include/panther_msgs/SetLEDImageAnimationResponse.h
ros/dev_ws/devel/include/panther_msgs/SystemStatus.h
ros/dev_ws/devel/share/common-lisp/ros/panther_msgs/msg/_package_DriverState.lisp
ros/dev_ws/devel/share/common-lisp/ros/panther_msgs/msg/_package_FaultFlag.lisp
ros/dev_ws/devel/share/common-lisp/ros/panther_msgs/msg/_package_IOState.lisp
ros/dev_ws/devel/share/common-lisp/ros/panther_msgs/msg/_package_LEDAnimation.lisp
ros/dev_ws/devel/share/common-lisp/ros/panther_msgs/msg/_package_LEDAnimationQueue.lisp
ros/dev_ws/devel/share/common-lisp/ros/panther_msgs/msg/_package_LEDImageAnimation.lisp
ros/dev_ws/devel/share/common-lisp/ros/panther_msgs/msg/_package_MotorControllerState.lisp
ros/dev_ws/devel/share/common-lisp/ros/panther_msgs/msg/_package_MotorState.lisp
ros/dev_ws/devel/share/common-lisp/ros/panther_msgs/msg/_package_RuntimeError.lisp
ros/dev_ws/devel/share/common-lisp/ros/panther_msgs/msg/_package_ScriptFlag.lisp
ros/dev_ws/devel/share/common-lisp/ros/panther_msgs/msg/_package_SystemStatus.lisp
ros/dev_ws/devel/share/common-lisp/ros/panther_msgs/msg/_package.lisp
ros/dev_ws/devel/share/common-lisp/ros/panther_msgs/msg/DriverState.lisp
ros/dev_ws/devel/share/common-lisp/ros/panther_msgs/msg/FaultFlag.lisp
ros/dev_ws/devel/share/common-lisp/ros/panther_msgs/msg/IOState.lisp
ros/dev_ws/devel/share/common-lisp/ros/panther_msgs/msg/LEDAnimation.lisp
ros/dev_ws/devel/share/common-lisp/ros/panther_msgs/msg/LEDAnimationQueue.lisp
ros/dev_ws/devel/share/common-lisp/ros/panther_msgs/msg/LEDImageAnimation.lisp
ros/dev_ws/devel/share/common-lisp/ros/panther_msgs/msg/MotorControllerState.lisp
ros/dev_ws/devel/share/common-lisp/ros/panther_msgs/msg/MotorState.lisp
ros/dev_ws/devel/share/common-lisp/ros/panther_msgs/msg/panther_msgs-msg.asd
ros/dev_ws/devel/share/common-lisp/ros/panther_msgs/msg/RuntimeError.lisp
ros/dev_ws/devel/share/common-lisp/ros/panther_msgs/msg/ScriptFlag.lisp
ros/dev_ws/devel/share/common-lisp/ros/panther_msgs/msg/SystemStatus.lisp
ros/dev_ws/devel/share/common-lisp/ros/panther_msgs/srv/_package_SetLEDAnimation.lisp
ros/dev_ws/devel/share/common-lisp/ros/panther_msgs/srv/_package_SetLEDBrightness.lisp
ros/dev_ws/devel/share/common-lisp/ros/panther_msgs/srv/_package_SetLEDImageAnimation.lisp
ros/dev_ws/devel/share/common-lisp/ros/panther_msgs/srv/_package.lisp
ros/dev_ws/devel/share/common-lisp/ros/panther_msgs/srv/panther_msgs-srv.asd
ros/dev_ws/devel/share/common-lisp/ros/panther_msgs/srv/SetLEDAnimation.lisp
ros/dev_ws/devel/share/common-lisp/ros/panther_msgs/srv/SetLEDBrightness.lisp
ros/dev_ws/devel/share/common-lisp/ros/panther_msgs/srv/SetLEDImageAnimation.lisp
ros/dev_ws/devel/share/gazebo_sim/cmake/gazebo_simConfig-version.cmake
ros/dev_ws/devel/share/gazebo_sim/cmake/gazebo_simConfig.cmake
ros/dev_ws/devel/share/gennodejs/ros/panther_msgs/_index.js
ros/dev_ws/devel/share/gennodejs/ros/panther_msgs/msg/_index.js
ros/dev_ws/devel/share/gennodejs/ros/panther_msgs/msg/DriverState.js
ros/dev_ws/devel/share/gennodejs/ros/panther_msgs/msg/FaultFlag.js
ros/dev_ws/devel/share/gennodejs/ros/panther_msgs/msg/IOState.js
ros/dev_ws/devel/share/gennodejs/ros/panther_msgs/msg/LEDAnimation.js
ros/dev_ws/devel/share/gennodejs/ros/panther_msgs/msg/LEDAnimationQueue.js
ros/dev_ws/devel/share/gennodejs/ros/panther_msgs/msg/LEDImageAnimation.js
ros/dev_ws/devel/share/gennodejs/ros/panther_msgs/msg/MotorControllerState.js
ros/dev_ws/devel/share/gennodejs/ros/panther_msgs/msg/MotorState.js
ros/dev_ws/devel/share/gennodejs/ros/panther_msgs/msg/RuntimeError.js
ros/dev_ws/devel/share/gennodejs/ros/panther_msgs/msg/ScriptFlag.js
ros/dev_ws/devel/share/gennodejs/ros/panther_msgs/msg/SystemStatus.js
ros/dev_ws/devel/share/gennodejs/ros/panther_msgs/srv/_index.js
ros/dev_ws/devel/share/gennodejs/ros/panther_msgs/srv/SetLEDAnimation.js
ros/dev_ws/devel/share/gennodejs/ros/panther_msgs/srv/SetLEDBrightness.js
ros/dev_ws/devel/share/gennodejs/ros/panther_msgs/srv/SetLEDImageAnimation.js
ros/dev_ws/devel/share/mono_perception/cmake/mono_perceptionConfig-version.cmake
ros/dev_ws/devel/share/mono_perception/cmake/mono_perceptionConfig.cmake
ros/dev_ws/devel/share/panther_description/cmake/panther_descriptionConfig-version.cmake
ros/dev_ws/devel/share/panther_description/cmake/panther_descriptionConfig.cmake
ros/dev_ws/devel/share/panther_gazebo/cmake/panther_gazeboConfig-version.cmake
ros/dev_ws/devel/share/panther_gazebo/cmake/panther_gazeboConfig.cmake
ros/dev_ws/devel/share/panther_msgs/cmake/panther_msgs-msg-extras.cmake
ros/dev_ws/devel/share/panther_msgs/cmake/panther_msgs-msg-paths.cmake
ros/dev_ws/devel/share/panther_msgs/cmake/panther_msgsConfig-version.cmake
ros/dev_ws/devel/share/panther_msgs/cmake/panther_msgsConfig.cmake
ros/dev_ws/devel/share/ros_components_description/cmake/ros_components_descriptionConfig-version.cmake
ros/dev_ws/devel/share/ros_components_description/cmake/ros_components_descriptionConfig.cmake
ros/dev_ws/devel/share/roseus/ros/panther_msgs/manifest.l
ros/dev_ws/devel/share/roseus/ros/panther_msgs/msg/DriverState.l
ros/dev_ws/devel/share/roseus/ros/panther_msgs/msg/FaultFlag.l
ros/dev_ws/devel/share/roseus/ros/panther_msgs/msg/IOState.l
ros/dev_ws/devel/share/roseus/ros/panther_msgs/msg/LEDAnimation.l
ros/dev_ws/devel/share/roseus/ros/panther_msgs/msg/LEDAnimationQueue.l
ros/dev_ws/devel/share/roseus/ros/panther_msgs/msg/LEDImageAnimation.l
ros/dev_ws/devel/share/roseus/ros/panther_msgs/msg/MotorControllerState.l
ros/dev_ws/devel/share/roseus/ros/panther_msgs/msg/MotorState.l
ros/dev_ws/devel/share/roseus/ros/panther_msgs/msg/RuntimeError.l
ros/dev_ws/devel/share/roseus/ros/panther_msgs/msg/ScriptFlag.l
ros/dev_ws/devel/share/roseus/ros/panther_msgs/msg/SystemStatus.l
ros/dev_ws/devel/share/roseus/ros/panther_msgs/srv/SetLEDAnimation.l
ros/dev_ws/devel/share/roseus/ros/panther_msgs/srv/SetLEDBrightness.l
ros/dev_ws/devel/share/roseus/ros/panther_msgs/srv/SetLEDImageAnimation.l
ros/dev_ws/.vscode/c_cpp_properties.json
ros/dev_ws/.vscode/settings.json
.vscode/settings.json
