<?xml version="1.0"?>
<launch>
    <arg name="x"         default="0.0" />
    <arg name="y"         default="0.0" />
    <arg name="z"         default="0.0" />
    <arg name="rviz"      default="true" />
    <arg name="gui"       default="true"/>
    <arg name="pasued"    default="false"/>
    <!-- <arg name="model"     default="$(find gonzo_description)/urdf/gonzo.xacro"/> -->
    <arg name="worldname" default="dolly_city"/>
    <arg name="worldfile" default="$(find gazebo_sim)/worlds/$(arg worldname).world"/>
    
    
    <!-- <param name="robot_description" command="$(find xacro)/xacro $(arg model)"/>   -->

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="debug"        value="false" />
        <arg name="gui"          value="$(arg gui)" />
        <arg name="paused"       value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="headless"     value="false"/>
        <arg name="verbose"      value="true"/>
        <arg name="world_name"   value="$(arg worldfile)"/>
    </include>

    <!--Launch Gazebo Simulator-->
    <!-- <node name="spawn_model" pkg="gazebo_ros" type="spawn_model" 
    args="-urdf -param robot_description -model gonzo -x $(arg x) -y $(arg y) -z $(arg z)" 
    output="screen"/> -->

    <!-- <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>

    <rosparam file="$(find gonzo_description)/control/controller.yaml" command="load" />
    <node name="controller_spawner" pkg="controller_manager" type="spawner"
          respawn="false" output="screen" args="mobile_base_controller joint_state_controller" />

    <group if="$(arg rviz)">
        <node name="rviz" pkg="rviz" type="rviz"
          args="-d $(find gonzo_gazebo)/rviz/visualization.rviz"/>
    </group>

    <node pkg="tf" type="static_transform_publisher" name="static_world_to_odom_publisher" 
    args="$(arg x) $(arg y)  $(arg z) 0 0 0 /world /odom 50"/> -->

</launch>